body {
  width: 100%;
  /* background-color: #dde6ed; */
  background: linear-gradient(45deg, #dde6ed, skyblue);
  --webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  position: relative;
  z-index: 1;
  /* color: white;
  mix-blend-mode: difference; Makes the text dynamically adjust */
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(to right, rgb(50, 50, 230), #96deda);
  opacity: 0;
  transition: opacity 0.5s ease-in;
  z-index: -1;
}

body:hover::before {
  opacity: 0.5;
}

.bestsellingtablerow {
  position: relative;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s; /* Animation */
  background-color: rgba(177, 206, 225, 0.861);
  transition: ease;
  /* overflow: hidden; */
  border: 1px #30475799 solid;
}
label {
  display: block;
  padding-right: 5em;
  /* text-emphasis: bold;
  font-weight: bold; */
  margin: 10px;
}
input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
