.airesponse {
  margin-top: 10px;
  background-color: lightblue;
  width: 40em;
  height: 30em;
  white-space: normal;
  overflow-y: auto;
  font-size: 90%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-family: sans-serif;
}
.textareaandbutton {
  display: flex;
}
.textareaandbutton > textarea {
  width: 50em;
  border: none;
  border-bottom: 1px solid black;
}

.airesponse::-webkit-scrollbar {
  /* display: none; */
  background-color: rgba(97, 97, 235, 0.644);
  width: 2px;
  height: 15px;
  border-radius: 7%;
}
.airesponse::-webkit-scrollbar-thumb {
  background: #000;
}
@media only screen and (max-width: 550px) {
  .airesponse {
    width: 22em;
  }
  .textareaandbutton {
    display: flex;
    flex-direction: column;
  }
  .textareaandbutton > textarea {
    width: 20em;
  }
}
