.sidebar {
  width: 15%;
}
.sidebarrow:hover {
  background-color: white;
  color: black;
}
.sidebarrow {
  color: white;
  border-radius: 5%;
}
.sidebarlist {
  height: "fit-content";
  overflow: "auto";
  display: "flex";
  flex-direction: "column";
}

.sidebarlist::-webkit-scrollbar {
  /* display: none; */
  background-color: rgba(97, 97, 235, 0.644);
  width: 2px;
  height: 15px;
  border-radius: 7%;
}
.sidebarlist::-webkit-scrollbar-thumb {
  background: #000;
}
@media only screen and (max-width: 1026px) {
  .sidebar {
    width: 75%;
    display: flex;
    flex-direction: row;
  }
  .sidebarlist {
    overflow: auto;
    display: flex;
    flex-direction: row;
  }
  .sidebarlist > a:hover {
    background-color: white;
    color: black;
  }
  .sidebar > .nav {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
