.theading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
#addnewentries {
  margin-left: 450px;
  width: 214px;
  padding: 20px;
}
#bestsellingtable {
  position: relative;
  height: 100%;
  width: 100%;
}
#bestsellingtable .thead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
#bestsellingtable .tbody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
