.bestsellingtablerow .col-0 {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  flex: 1; /* Allow this column to take up remaining space */
}
.btn {
  margin: 1px;
}
.bestsellingtablerow {
  flex-wrap: wrap;
  word-wrap: break-word;
}
.bestsellingtablerow:hover {
  transform: scale(1.02);
  background-color: white;
  text-emphasis: bold;
}
