#signupid {
  background-color: #526d82;
}
input {
  margin: 10px;
  padding: 10px;
}
.submitbutton {
  background: darkblue;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-left: 10em;
  border: 2px solid skyblue;
}
