@media only screen and (max-width: 550px) {
  .sidebar {
    width: 90%;
  }
  nav > div > ul {
    display: flex;
    flex-direction: row;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
